<form action="" method="POST">

    <p>Name : <input type="text" name="name"></p>
    <p>Age : <input type="number" name="age"></p>
    <button value="Submit" type="submit">
            Submit
    </button>
</form>